*{
    margin: 0;
    padding: 0;
}

#main {
    width: 60%;
    float: left;
    margin-top: 20px;
    margin-left: 3%;
}

aside {
    float: left;
    width: 30%;
    margin-left: 3%;
    margin-top: 20px;
}
#courses {
    float: left;
    width: 90%;   
}


.courses {
    width: 100%;
    margin-bottom: 10px;
    float: left;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.2em;
    color: cadetblue;
}
.courses>img {
    border: 2px soplid red;
    border-radius: 5px;
    width: 35%;
    float: left;
    margin-right: 10px;
}

.courses>span {
    float: right;
    font-weight: bold;
    color: #c1959e;
}

#courses>a>div#btnk {
    float: left;
    margin-left: 30%;
}

#one_course {
    float: left;
    margin-top: 10px;
}

#one_course>img {
    width: 80%;
    float: left;
}
.heading {
    font-weight: lighter;
    font-size: 2.5em;
    font-family: 'Bad Script', cursive;
    color:#b76281;
    float: left;
    padding: 0px 20px;   
}

.heading:first-letter {
    color:cadetblue;
}

#news {
    width: 100%;
    float: left; 
}

#main_img {
    float: left;
    width: 100%;
}
#main_content_bg{
    background: url('../img/bg_main.jpg');
    background-size:cover;
    background-position: 0 -150px;
        height:100%;
}

.reg-in {
    
    margin-top: 100px;
    font-size: 1em;
    font-family: 'Source Sans Pro', sans-serif;
    color: #716c6c;
    background: rgba(255, 255, 255, 0.72);
    padding: 40px;
    border-radius: 10px;
}

#news>a>.btn {
    margin-bottom: 20px;
    float: left;
    margin-left: 20%;
}
#profil_img{
    padding:10px 0px;
}
.profile_block_left{
/*    height: 580px;*/
}
.card {
    margin-left: 15px;
    border-radius:10px;
}
.table_block{
    background:#fff;
    padding:10px;
    box-shadow:0px 0px 1px #ccc;
}


.form-inline{
    font-size: 1em;
    font-family: 'Source Sans Pro', sans-serif;
    color: #716c6c;
    background: rgba(255, 255, 255, 0.72);
    padding: 10px;
    
}

.blockquote {
    font-family:'M PLUS Rounded 1c', sans-serif;
    background: rgba(255, 255, 255, 0.72);
    padding: 10px;
    color: #848181;
    font-size: 1.2em;
}